.container {
  margin-bottom: 40px;
}

.dual-slider .slider {
  position: relative;
  width: 150px;
}

.dual-slider .title {
  margin-bottom: 12px;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #ced4da;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #9fe5e1;
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: #dee2e6;
  font-size: 12px;
  margin-top: 5px;
}

.slider__right-value {
  right: -4px;
}

/* Removing the default appearance */
.dual-slider .thumb,
.dual-slider .thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.dual-slider .thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 150px;
  outline: none;
}

.dual-slider .thumb--left {
  z-index: 3;
}

.dual-slider .thumb--right {
  z-index: 4;
}

/* For Chrome browsers */
.dual-slider .thumb::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.dual-slider .thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
